@*@BaseCode*@
@*#if ACCOUNT_ON*@
@{
    @using Microsoft.AspNetCore.Mvc.Rendering
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.Language
    @model IEnumerable<SmartNQuick.AspMvc.Models.IdentityModel>

    var sessionWrapper = new SessionWrapper(Context.Session);
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    Func<string, string> translate = Translator.TranslateIt;
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
    var title = translateFor(controller);

    ViewData["Title"] = title;

    <h1>@title</h1>

    @if (sessionWrapper.IsAuthenticated && sessionWrapper.HasRole("SysAdmin", "AppAdmin"))
    {
        <div class="d-flex bg-transparent">
            <div class="mr-auto p-sm-2">
                <a asp-action="Create" class="btn btn-outline-secondary">@translateFor("Create New")</a>
            </div>
            <div class="p-sm-2">
                <a asp-action="Export" class="btn btn-outline-secondary">@translateFor("Export")</a>
            </div>
            <div class="p-sm-2">
                <a asp-action="Import" class="btn btn-outline-primary">@translateFor("Import")</a>
            </div>
        </div>
    }
    <p></p>
    <table class="table">
        <thead>
            @await Html.PartialAsync("_TableHead", Model, ViewData)
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_TableRow", item, ViewData)
            }
        </tbody>
    </table>
}
@*#endif*@
