@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.Common;
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IEnumerable<SmartNQuick.AspMvc.Models.IdentityModel>

    var index = 0;
    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    var indexViewModel = viewBagWrapper.CreateIndexViewModel(Model);

    if (indexViewModel != null)
    {
        @foreach (var model in indexViewModel.ViewModels)
        {
            index = 0;
            model.ViewBagInfo = viewBagWrapper;
            <div class="card" style="margin-bottom: 0.5em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @foreach (var item in indexViewModel.GetDisplayProperties())
                        {
                            model.ViewBagInfo.Index = index++;
                            model.ViewBagInfo.Handled = false;
                            model.ViewBagInfo.DisplayProperty = item;
                            @await Html.PartialAsync("_CardItem", model)
                            @if (model.ViewBagInfo.Handled == false)
                            {
                                <strong>@viewBagWrapper.TranslateFor(indexViewModel.GetLabel(item))</strong>

                                <p>@indexViewModel.GetDisplayValue(model, item)</p>
                            }
                        }
                    </li>
                </ul>
@*#if ACCOUNT_ON*@
@{
    @if (sessionWrapper.LoginSession != null && viewBagWrapper.Action.Equals(ActionMode.Delete.ToString()) == false)
    {
        <div class="card-body">
            @await Html.PartialAsync("_CommandControl", model)
        </div>
    }
    else
    {
        @await Html.PartialAsync("_CardBody", model)
    }
}
@*#endif*@

@*#if ACCOUNT_OFF*@
@*
    @{
    @await Html.PartialAsync("_CardBody", Model)
    }
*@
@*#endif*@
            </div>
        }
    }
}
