@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model SmartNQuick.AspMvc.Models.IdentityModel

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    var displayViewModel = viewBagWrapper.CreateDisplayViewModel(Model);

    if (displayViewModel != null)
    {
        Model.ViewBagInfo = viewBagWrapper;
        <div class="card" style="margin-bottom: 0.5em; background: gray;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @foreach (var item in displayViewModel.GetDisplayProperties())
                    {
                        Model.ViewBagInfo.Handled = false;
                        Model.ViewBagInfo.DisplayProperty = item;
                        @await Html.PartialAsync("_CardItem", Model)
                        @if (Model.ViewBagInfo.Handled == false)
                        {
                            <strong>@viewBagWrapper.TranslateFor(displayViewModel.GetLabel(item))</strong>

                            <p>@displayViewModel.GetDisplayValue(item)</p>
                        }
                    }
                </li>
            </ul>
            @await Html.PartialAsync("_CardBody", Model)
        </div>
    }
}
