@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.Common
    @using SmartNQuick.AspMvc.Models.Modules.View
    @model IDisplayViewModel

    if (Model != null)
    {
        var index = 0;
        var viewBagInfo = Model.ViewBagInfo;

        Model.DisplayModel.ViewBagInfo = viewBagInfo;
        <li class="list-group-item">
            @foreach (var property in Model.GetDisplayProperties())
            {
                viewBagInfo.Index = index++;
                viewBagInfo.Handled = false;
                viewBagInfo.DisplayProperty = property;

                @await Html.PartialAsync("_CardItem", Model.DisplayModel)
                @if (viewBagInfo.Handled == false)
                {
                    <strong>@viewBagInfo.TranslateFor(Model.GetLabel(property))</strong>

                    @if (property.PropertyType == typeof(bool) || property.PropertyType == typeof(bool?))
                    {
                        var value = Model.GetValue(property);
                        var boolVal = value != null ? Convert.ToBoolean(value) : false;

                        <p>@Html.CheckBox(Model.GetName(property), boolVal, new { disabled="disabled" })</p>
                    }
                    else
                    {
                        <p>@Model.GetDisplayValue(property)</p>
                    }
                }
            }
        </li>
    }
}
