@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.Common
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IndexViewModel

    var viewBagInfo = Model?.ViewBagInfo;
    var sessionInfo = new SessionWrapper(Context.Session);

    if (Model != null)
    {
        IndexDisplayViewModel displayViewModel = null;
        DisplayViewModel firstDisplayViewModel = null;
        DisplayViewModel secondDisplayViewModel = null;

        @foreach (var model in Model.DisplayModels)
        {
            model.ViewBagInfo = viewBagInfo;
            <div class="card" style="margin-bottom: 0.5em;">
                <ul class="list-group list-group-flush">
                    @if (model is IFirstToSecond fTs)
                    {
                        viewBagInfo.IgnoreNames.Add($"{fTs.FirstModel.GetType().Name}Id");

                        if (firstDisplayViewModel == null)
                        {
                            firstDisplayViewModel = ViewModelCreator.CreateDisplayViewModel(viewBagInfo, fTs.FirstModel);
                        }
                        else
                        {
                            firstDisplayViewModel.Model = fTs.FirstModel;
                        }

                        if (secondDisplayViewModel == null)
                        {
                            secondDisplayViewModel = ViewModelCreator.CreateDisplayViewModel(viewBagInfo, fTs.SecondModel);
                        }
                        else
                        {
                            secondDisplayViewModel.Model = fTs.SecondModel;
                        }
                        @await Html.PartialAsync("_CardGroup", firstDisplayViewModel)
                        @await Html.PartialAsync("_CardGroup", secondDisplayViewModel)
                    }
                    else
                    {
                        if (displayViewModel == null)
                        {
                            displayViewModel = Model.CreateDisplayViewModel(model);
                        }
                        else
                        {
                            displayViewModel.Model = model;
                        }
                        @await Html.PartialAsync("_CardGroup", displayViewModel)
                    }
                </ul>
@*#if ACCOUNT_ON*@
@{
    @if (sessionInfo.LoginSession != null
    && viewBagInfo.CommandMode != CommandMode.None
    && viewBagInfo.Action.Equals(ActionMode.Delete.ToString()) == false)
    {
        <div class="card-body">
            @await Html.PartialAsync("_CommandControl", model)
        </div>
    }
    else
    {
        @await Html.PartialAsync("_CardBody", model)
    }
}
@*#endif*@

@*#if ACCOUNT_OFF*@@*
    @if (viewBagInfo.CommandMode != CommandMode.None
         && viewBagInfo.Action.Equals(ActionMode.Delete.ToString()) == false)
    {
        <div class="card-body">
            @await Html.PartialAsync("_CommandControl", model)
        </div>
    }
    else
    {
        @await Html.PartialAsync("_CardBody", model)
    }
*@@*#endif*@
            </div>
        }
    }
}
