@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.Common;
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IEnumerable<SmartNQuick.AspMvc.Models.IdentityModel>

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    var indexViewModel = default(IndexViewModel);

    if (Model is IEnumerable<IMasterDetails> mds)
    {
        var models = mds.Select(m => m.Master);

        if (models.Any())
        {
            indexViewModel = viewBagWrapper.CreateIndexViewModel(models);
        }
        viewBagWrapper.ModelType = ModelType.MasterDetail;
        viewBagWrapper.CommandMode |= SmartNQuick.AspMvc.Models.Modules.Common.CommandMode.CreateDetail;
    }
    else
    {
        viewBagWrapper.ModelType = ModelType.Single;
        indexViewModel = viewBagWrapper.CreateIndexViewModel(Model);
    }

    if (indexViewModel != null)
    {
        @foreach (var model in indexViewModel.Models)
        {
            model.ViewBagInfo = viewBagWrapper;
            <div class="card" style="margin-bottom: 0.5em;">
                <ul class="list-group list-group-flush">
                    @foreach (var item in indexViewModel.GetDisplayProperties())
                    {
                        <li class="list-group-item"><strong>@viewBagWrapper.TranslateFor(indexViewModel.GetLabel(item))</strong><p>@indexViewModel.GetDisplayValue(model, item)</p></li>
                    }
                </ul>
                <div class="card-body">
                    @await Html.PartialAsync("_CommandControl", model)
                </div>
            </div>
        }
    }
}
