@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IEnumerable<SmartNQuick.AspMvc.Models.IdentityModel>

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();

    var indexViewModel = default(IndexViewModel);

    if (Model is IEnumerable<IMasterDetails> mds)
    {
        var models = mds.Select(m => m.Master);

        if (models.Any())
        {
            indexViewModel = viewBagWrapper.CreateIndexViewModel(models);
        }
    }
    else
    {
        indexViewModel = viewBagWrapper.CreateIndexViewModel(Model);
    }

    if (indexViewModel != null)
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var item in indexViewModel.GetDisplayProperties())
                    {
                        <th>
                            @viewBagWrapper.TranslateFor(indexViewModel.GetLabel(item))
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var model in indexViewModel.Models)
                {
                    model.ViewBagInfo = viewBagWrapper;
                    <tr>
                        @foreach (var displayItem in indexViewModel.GetDisplayProperties())
                        {
                            <td>
                                @indexViewModel.GetDisplayValue(model, displayItem)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
