@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models.Modules.View
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IndexViewModel

    var viewBagInfo = Model?.ViewBagInfo;
    var sessionInfo = new SessionWrapper(Context.Session);
    var sorterModel = new SorterModel(sessionInfo, Model);
        
    <form asp-action="Sorter" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @await Html.PartialAsync("_SorterModel", sorterModel)
        @await Html.PartialAsync("_Submit", new SubmitCmd() { SubmitText = viewBagInfo.TranslateFor("Apply") })
    </form>
}
