@*@BaseCode*@
@model SmartNQuick.AspMvc.Models.View.SubmitBackCmd

<div class="d-flex bg-transparent">
    @if (Model.RightAlign)
    {
        <div class="mr-auto"></div>
    }
    <div class="p-sm-2">
        @Html.ActionLink(Model.BackText, Model.BackAction, Model.BackController, null, new { @class = Model.BackCss, style = Model.BackStyle })
    </div>
    <div class="p-sm-2">
        <input type="submit" value="@Model.SubmitText" class="@Model.SubmitCss" style="@Model.SubmitStyle" />
    </div>
</div>

