@*@BaseCode*@
@{
    @using SmartNQuick.AspMvc.Models
    @using SmartNQuick.AspMvc.Models.Modules.Common
    @using SmartNQuick.AspMvc.Modules.Handler
    @using SmartNQuick.AspMvc.Modules.Language
    @using SmartNQuick.AspMvc.Modules.Session
    @using SmartNQuick.AspMvc.Modules.View
    @model IEnumerable<IdentityModel>

    var viewBagWrapper = new ViewBagWrapper(ViewBag);
    var sessionWrapper = new SessionWrapper(Context.Session);

    viewBagWrapper.Translate = Translator.TranslateIt;
    viewBagWrapper.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagWrapper.Action = ViewContext.RouteData.Values["action"].ToString();
    viewBagWrapper.ViewType = Model != null ? Model.GetType() : typeof(IEnumerable<IdentityModel>);

    ViewData["Title"] = viewBagWrapper.Title;
    <div class="row">
        <div class="col-md-12 d-flex">
            <h2 id="quote">@viewBagWrapper.Title</h2>
            @if ((viewBagWrapper.CommandMode & SmartNQuick.AspMvc.Models.Modules.Common.CommandMode.Create) > 0)
            {
                <div class="ml-auto">
                    <a asp-action="@nameof(CommandMode.Create)" class="btn btn-outline-dark" title="@viewBagWrapper.TranslateFor("Create new...")"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            }
        </div>
    </div>

    @if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorHandler.GetLastViewErrorAndClear()
        </div>
        @await Html.PartialAsync("_PagerControl", Array.Empty<IdentityModel>())
    }
    else
    {
        @await Html.PartialAsync("_PagerControl", Model)
        @await Html.PartialAsync("_CardList", Model)
    }
}