@*@BaseCode*@
@using SmartNQuick.AspMvc.Modules.Handler

@{
    ViewData["Title"] = "ErrorList";
}

<h1>ErrorList</h1>

<h2>View-Errors</h2>
@foreach (var item in ErrorHandler.GetViewErrors())
{
    <div class="alert alert-danger" role="alert">
        @item
    </div>
}

<h2>Logic-Errors</h2>
@foreach (var item in ErrorHandler.GetLogicErrors())
{
    <div class="alert alert-danger" role="alert">
        @item
    </div>
}
