@*@BaseCode*@
@{
    @using CommonBase.Extensions
    @using SmartNQuick.AspMvc.Modules.StaticPage
    @using SmartNQuick.AspMvc.Modules.Language

    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    Func<string, string> translate = Translator.TranslateIt;
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
    var title = translateFor("Home Page");
    var text = translate("Welcome to the HTL-Leonding");
    var pageKey = $"{controller}.{action}";
    var htmlItem = StaticPageService.GetPageContent(pageKey);

    ViewData["Title"] = title;
}

@if (htmlItem != null)
{
    @Html.Raw(htmlItem.Content)
}
else
{
    var imgSrc = StaticPageService.GetPartialContent($"{pageKey}.img.src", "/img/informatik_ai.jpg");

    <div class="card" style="margin-bottom: 1em; border: none;">
        @if (imgSrc.HasContent())
        {
            <img class="card-img-top" src="@imgSrc" alt="Item image">
        }
        <div class="card-body">
            <center><h1 class="card-title">@text</h1></center>
            <p class="card-text"></p>
            <center><p class="card-text">Learn about <a href="https://www.htl-leonding.at/">computer science</a>.</p></center>
            <center><p class="card-text">Where?</p></center>
            <center><p class="card-text"><strong>with us.</strong></p></center>
        </div>
    </div>
}